@model PaulyMacs.Areas.Admin.ViewModels.MenuItemViewModel

@{
    ViewBag.Title = "Edit Menu Item";
}

<br />
<br />
<br />
<br />
<br />

<h2>Edit Menu Item</h2>

<div>
    @Html.ActionLink("Back to Menu", "MenuItems")
</div>

<style>
    input#ImageName{
        display: none;
    }

</style>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


@using (Html.BeginForm("EditMenuItem", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MenuItemId)

        <div class="form-group">
            <label class="control-label col-md-2" for="ItemName">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ItemPrice">Price</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ItemDescription">Description</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ItemDescription,  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CategoryId">Category</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ImageName">Image Name</label>
            @Html.EditorFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-md-10">
                <img src="~/Images/Uploads/MenuItems/@Model.MenuItemId/Thumbs/@Model.ImageName" />
                <br />
                <br />
                <img id="imgpreview" src="#" />
                <br />
                <br />
                <div class="col-md-10">
                    <input type="file" name="file" id="ImageUpload" />
                </div>
           </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit Item" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts{

    <script>

        $(function () {

            //preview selected image

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $("img#imgpreview")
                         .attr("src", e.target.result)
                         .width(200).height(200);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ImageUpload").change(function () {
                readURL(this);
            });

            /////////////////////////////////////////////

        });

    </script>

}