@model IEnumerable<PaulyMacs.Areas.Admin.ViewModels.OrdersForAdminViewModel>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if(! Model.Any())
{
    <h3 class="text-center">There are no orders.</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Username
            </th>
            <th>
                Order Details
            </th>
            <th>
                Order Date
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)

        {
            if (item.isOrderOpen == true)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @foreach (var item2 in item.ProductsAndQty)
                        {
                        @item2.Key @:x @item2.Value <br />
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>

                <td>
                    <input type="button" value="Complete Order" onclick="location.href='@Url.Action("SendMsgsAndConfirm", "Shop", new {Area = "Admin"})'" />
                </td>
            </tr>

            }
            else
            {
                <text>There are no open orders currently.</text>
            }


        }
                
</table>

}
              

