@model IEnumerable<PaulyMacs.Views.ViewModels.CartViewModel>

@{
    ViewBag.Title = "Cart Details";
    int count = 1;
}

<h2>Cart Details</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="ajaxbg"><span><img src="~/Content/Images/ajax-loader.gif" /></span></div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>

            <th>

            </th>

            <th>
                Total
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MenuItemName)
                </td>
                <td class="qty@(item.MenuItemId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.MenuItemPrice)
                </td>

                <td>
                    <img src="~/Images/Uploads/MenuItems/@item.MenuItemId/Thumbs/@item.Image" />
                </td>

                <td>
                    <a href="#" class="incritem" data-id="@item.MenuItemId">+</a>
                    <a href="#" class="decritem" data-id="@item.MenuItemId">-</a>
                    <a href="#" class="deleteitem" data-id="@item.MenuItemId">Remove</a>
                </td>
                <td class="total@(item.MenuItemId)">
                    $@Html.DisplayFor(modelItem => item.CartTotal)
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Grand total </b>$<span>@ViewBag.GrandTotal</span></td>
        </tr>

    </table>

    <div class="paypaldiv">
        <form class="paypalform" action="https://www.sandbox.paypal.com/tn/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="jultranet-facilitator@gmail.com">

            @foreach (var item in Model)
            {
                <input type="hidden" name="item_name_@count" value="@item.MenuItemName">
                <input type="hidden" name="amount_@count" value="@item.MenuItemPrice">
                <input type="hidden" name="quantity_@count" value="@item.Quantity">
                count++;
            }


            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>

    <br />
    <a href="#" class="placeorder btn btn-primary pull-right">Checkout</a>

}

@section Scripts{
   

    <script>

        //increment

        $(function () {



            $("a.incritem").click(function (e) {
                e.preventDefault();

                var itemId = $(this).data("id");
                var url = "/cart/IncrementItem";

                $.getJSON(url, { itemId: itemId }, function (data) {

                    $("td.qty" + itemId).html(data.qty);

                    var price = data.qty * data.price;
                    var priceHtml = "$" + price.toFixed(2);

                    $("td.total" + itemId).html(priceHtml);

                    var gt = parseFloat($("td.grandtotal span").text());
                    var grandtotal = (gt + data.price).toFixed(2);

                    $("td.grandtotal span").text(grandtotal);
                }).done(function (data) {
                    var url2 = "/cart/PayPalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });


            //decrement


            $("a.decritem").click(function (e) {
                e.preventDefault();


                var $this = $(this);
                var itemId = $(this).data("id");
              
                var url = "/cart/DecrementItem";

                $.getJSON(url, { itemId: itemId }, function (data) {

                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        });
                    }
                    else {

                        $("td.qty" + itemId).html(data.qty);

                        var price = data.qty * data.price;
                        var priceHtml = "$" + price.toFixed(2);

                        $("td.total" + itemId).html(priceHtml);

                        var gt = parseFloat($("td.grandtotal span").text());
                        var grandtotal = (gt - data.price).toFixed(2);

                        $("td.grandtotal span").text(grandtotal);
                    };

                }).done(function (data) {
                    var url2 = "/cart/PayPalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });


            //delete item


                $("a.deleteitem").click(function (e) {
                    e.preventDefault();

                    var itemId = $(this).data("id");
                    var url = "/cart/DeleteItem";

                    $.get(url, { itemId: itemId }, function (data) {
                        location.reload();
                           
                    });

                });



                //place order


                
                $(function () {
                    $("a.placeorder").click(function (e) {
                        e.preventDefault();

                        var $this = $(this);

                        var url = "/cart/PlaceOrder";

                        $(".ajaxbg").show();

                        $.post(url, { }, function (data) {
                            $(".ajaxbg span").text("Thank you. You will now be redirected to PayPal.");
                            setTimeout(function () {
                                $('form input [name= "submit"]').click();
                            }, 2000);

                        });

                    });

                });

            });

    </script>

}
